* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-yellow: rgba(255, 188, 0, 1);
    --main-font: 'Gelasio', sans-serif;
    --secondary-font: 'Noto Sans', sans-serif;

    --biggest-category: normal bold 1.2rem /1.2 var(--secondary-font);
    --biggest-heading: bold 2.3rem /2.4rem var(--main-font);
    --biggest-content: 1.14rem /1.7rem var(--main-font);
    --biggest-meta: italic 0.8rem var(--main-font);

    --large-content: normal 1.1rem /1.8rem var(--main-font);
    --large-category: normal bold 1.2rem /1.2 var(--secondary-font);
    
    --small-bold: normal bold 0.9rem /1.2 var(--secondary-font);

    --medium-heading: bold 1.85rem /1.9rem var(--main-font);
    --medium-content: 0.95rem /1.4rem var(--main-font);
    --medium-meta: italic 0.78rem var(--main-font);

    --medium-bold: 1rem;

    --small-heading: bold 1.2rem /1.5rem var(--main-font);
    --small-meta: italic 0.750rem /1rem var(--main-font);

    --large-noto: normal bold 1.18rem /2.4rem var(--secondary-font);
    --small-noto: normal 1rem /2.4rem var(--secondary-font);
    --small-noto-bold: bold 1rem /1.4rem var(--secondary-font);

    --tiny: normal 0.71rem /1.4rem var(--secondary-font);
    
}

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400&display=swap');
.App {
    font-family: 'Gelasio';
    margin: 1.72rem 0;
}

.App-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img div" "img svg";
    padding: 0 1.72rem;
    margin-bottom: 2rem;
}

.App-header img {
    grid-area: img;
    align-self: center;
}

.App-header div {
    grid-area: div;
    display: flex;
    justify-self: right;
    background-color: var(--main-yellow);
    padding: 3px 10px;
    font-weight: bold;
    font-size: 12px;
    justify-self: right;
    align-self: center;
    font-family: Noto Sans, sans-serif;
}

.App-header div p {
    align-items: center;
    justify-content: center;
}

.App-header svg {
    grid-area: svg;
    height: 15px;
    justify-self: right;
    align-self: center;
}

.article-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    margin: 0 1.72rem;
    margin-bottom: 1.1rem;
}

.category {
    align-self: start;
    border-bottom: 2px solid var(--main-yellow);


    transition: all 0.5s;

    justify-content: right;
    margin: 1rem 0rem;
    font: var(--small-bold)

}

.category:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
    padding-left: 1.1rem;
}

h2 {
    font: var(--medium-heading);
    margin-bottom: 1rem;
    transition: color 0.5s;
    text-align: left;
    width: 100%;

}

h2:hover {
    color: var(--main-yellow);
    cursor: pointer;
}

.article-big .summary {
    margin-bottom: 1rem;
    font: var(--medium-content);

}

.article-big:first-of-type .category:hover {
    padding: 0px 14px 7px 14px;
    border-color: black;
}

.article-big:first-of-type .category {
    align-self: center;
    font: var(--biggest-category);
    border-bottom: 5px solid var(--main-yellow);
}

.article-big:first-of-type h2 {
    font: var(--biggest-heading);
    text-align: center;
    margin-bottom: 1rem;
}

.article-big:first-of-type .summary {
    font-size: 1.18rem;
    font: var(--biggest-content);
    text-align: center;
}

.article-big:first-of-type .category {
    align-self: center;
    padding-bottom: 7px;
    margin-bottom: 1.5rem;
}

.article-big:first-of-type .article-meta {
    font: var(--biggest-meta);
    text-align: center;
}

figure, .img-container {
    width: 100%;
    height: 16rem;
    /*   overflow: hidden;*/
}

.img-container img {
    height: 100%;
    width: 100%;
    justify-self: center;
    object-fit: cover;
    transition: all 0.3s linear;
}

figure:hover {
    cursor: pointer;
}

figure img:hover {
    filter: grayscale(100%);
}

.article-big:first-of-type figure {
    height: 25.5rem;
    margin-bottom: 2.5rem;
}

.article-meta {
    font-style: italic;
    font-size: 0.79rem;
    font: var(--medium-meta);

    width: 100%;
}

.article-meta a {
    text-decoration: none;
    color: black;
}

.article-meta a:hover {
    cursor: pointer;
    color: grey;
}

.article-meta time::before {
    content: '|';
    margin: 0px 0.3rem;
}

.article-big.briefing {
    margin: 0;
}

.article-big.briefing figure {
    height: 23.7rem;
}

.article-big.briefing .category {
    width: 100%;
    padding-top: 0.5rem;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.15rem;
    font: var(--large-category);

    border-bottom: none;
    border-top: 5px solid var(--main-yellow);
}

@keyframes line {
    from {
        left: 0%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}

@keyframes reverseanim {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

.article-big.briefing .category::before {
    position: absolute;
    margin-top: -0.8rem;
    content: '';
    border-top: 5px solid black;
    animation: reverseanim 0.35s linear both;
}

.article-big.briefing .category:hover::before {
    animation: line 0.35s linear forwards;
}

.article-big.briefing .info {
    margin: 0 1.72rem;
    text-align: center;
    margin-bottom: 1.9rem;
}

.article-big.briefing h2 {
    margin: 1.4rem 0;
    line-height: 2.0rem;
    text-align: center;
}

.article-big.briefing .summary {
    font-size: 1.1rem;
    line-height: 1.8rem;
    font: var(--large-content);
}

.section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(250, 250, 250), white);
    padding: 0 1.72rem;
}

.section:first-of-type div {
    background-image: none;
}

.section .category {
    font-size: 1.15rem;
    margin-top: 1.4rem;
    margin-bottom: 1.2rem;
    padding-bottom: 0.2rem;
    border-width: 5px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas: "img title" "img meta";
    padding: 1.4rem 0;
    grid-column-gap: 0.8rem;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.card:last-of-type {
}

.card .img-container {
    grid-area: img;
    position: relative;
    align-self: center;
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: 100%;
}

.card .img-container:after {}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card h2 {
    grid-area: title;
    font-size: 1.2rem;
    height: auto;
    align-self: end;
    font: var(--small-heading);
}

.card .article-meta {
    height: 100%;
    grid-area: meta;
    font-size: 0.650rem;
    align-self: end;
    font: var(--small-meta);
}

.nav-footer, .social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    list-style: none;
    height: 10rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 0 1.72rem;
    font:  var(--large-noto);
}

.Subscribe {
    padding: 0 1.72rem;
    padding-top: 2rem;
}

.Subscribe .Heading {
    font-family: 'Gelasio', sans-serif;
    width: 5rem;
    margin: 1rem 0rem;
    font: var(--medium-heading)
}

.Subscribe .getIt {
    font-family: Noto sans, sans-serif;
    font-size: 1rem;
    font: var(--small-noto);
    margin: 1rem 0rem;
}

.Subscribe input {
    font-family: Noto sans, sans-serif;
    border: none;
    border-bottom: 1px solid black;
    height: 50px;
}

.Subscribe input::placeholder {
    font-family: Noto sans, sans-serif;
    font-size: 1rem;
    color: rgb(180, 180, 180);
}

.Subscribe input:nth-of-type(1), .Subscribe input:nth-of-type(2) {
    width: 50%;
}

.Subscribe input:nth-of-type(3) {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.Subscribe input:nth-of-type(4) {
    position: relative;
    top: 0;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.social {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 25rem;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    margin: 0 auto;
    font: var(--small-noto-bold);
}

footer {
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 0.71rem;
    line-height: 1.4rem;
    letter-spacing: .03rem;
    font: var(--tiny);
}

footer a {
    text-decoration: none;
    color: var(--main-yellow);
}

.PRR {
    height: auto;
    padding: 1.5rem 2rem;
    background-color: rgb(235, 235, 235);
}

.PRR img {}




.Loading {
    opacity: 0;
}

